/* Empty. Add your own CSS if you like */
td{
	width: 50%;
	padding-bottom: 5px;
}
th{
	background-color: #eee;
	padding: 2px 0;
font-size: 14px;
}
.class-title{
	text-align: center;
	font-size: 20px !important;
}
.title-icon{
	float: right;
	color: #666;
	font-size: 26px;
}
.gotoschedule-button{
	padding:10px 15px;text-align:center;font-size:18px;color:#26A69A;
}
.gotoschedule-button-blue{
	margin:15px 0 0 0 ;padding:10px;text-align:center;font-size:18px;color:#42A5F5;
}
a{
	text-decoration: none;
	color:#fff
}
.gotoschedule-button-blue a{
	text-decoration: none;
	color:#fff
}
.item-radio{
	
	float: left;
	width:16.66%;
	text-align: center
}
.item-radio .item-content{
padding: 15px 0;	
}
.item-radio.radio-icon{
display: none;
}

.setting-instruction{
	text-align:center;background-color:#EF5350;color:#fff;padding:10px;
}

.item-radio input:checked ~ .item-content{

	border-radius: 0px;
	color: #fff;
	background: #26A69A;
	
}

.calendar-date{
	float: left;
	margin-top: 5px;
}

.calendar-date.holiday, .calendar-name.holiday{
	color:#42A5F5
}
.calendar-name{
	float: right
}

.calendar-date.activity, .calendar-name.activity{
	color:#FF7043;
}

.ion-item-calendar{
	padding-bottom:5px;
}

.ion-item-calendar .countdown{
	font-size: 11px;
    color:#444;
	float: right;
}